@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #ecf2fe;
}

.container {
  display: flex;
  justify-content: center;
  margin: 40px 0px;
}

.fetch_container {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  width: 500px;
}

.heading {
  font-size: 50px;
  padding: 10px 0px;
  text-align: center;
}

.image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.fetch {
  background-color: black;
  color: white;
  border: none;
  padding: 20px 40px;
  width: 100%;
  font-size: 20px;
  margin: 10px 0px;
}
